<header>
    <div class="container">
        <div class="header-top">
            <div class="left">
                <a href="" class="phone"><i class="fa-solid fa-phone me-3"></i><span>+921 - 48564254</span></a>
                <a href="" class="mail"><i class="fa-solid fa-envelope me-3"></i><span>Demo@gmail.com</span></a>
            </div>
            <div class="right">
                <a href="" class="sign me-3">Sign in</a><span class="gach">|</span>
                <a href="" class="regis ms-3">Register</a>
            </div>
        </div>
        <div class="header-bot">
            <div class="row">
                <div class="col-lg-3 logo">
                    <img src="assets/image/logo.png" alt="">
                </div>
                <div class="col-lg-9 menu">
                    <ul>
                        <li><a href="">home</a></li>
                        <li><a href="about">about</a></li>
                        <li><a href="contact">contact</a></li>
                        <li><a href="detail">detail</a></li>
                        <li><a href="**">p404</a></li>
                        <li>
                            <form class="d-flex">
                                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                                <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

</header>