.header-top {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.phone {
    text-decoration: none;
    color: black;
    margin-right: 20px;
}

.mail {
    text-decoration: none;
    color: black;
}

.sign {
    text-decoration: none;
    color: black;
}

.regis {
    text-decoration: none;
    color: black;
}

.gach {
    color: black;
}

.header-bot {
    background-color: black;
}

.logo{
    margin: auto 0;
}

.menu ul li {
    display: inline-block;
    padding: 15px;
}

.menu ul li a {
    text-decoration: none;
    color: white;
}