<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="logo">
                    <img class="mb-4" src="assets/image/logo.png" alt="">
                    <p>Nunc cursus liero purs ac cogue arcu cursus ut sed vitae pulvinar massaidp nequetiam lore
                        elerisque</p>
                    <p>+8424 3755 4010</p>
                    <a href="">Demo@gmail.com</a>
                    <div class="icon">
                        <ul>
                            <li><a href=""><i class="fa-brands fa-facebook-f fb"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-instagram ins"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-twitter twi"></i></a></li>
                            <li><a href=""><i class="fa-brands fa-linkedin lin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Tin tức du lịch</h4>
                <div class="left mt-4">
                    <ul>
                        <li class="me-3"><img src="assets/image/img1.jpg" alt=""></li>
                        <li>
                            <h5>Bungee Jumping Trip</h5>
                            <span>Nunc cursus libero purus congue arcu vitae pulvinar</span>
                        </li>
                    </ul>
                </div>
                <div class="right">
                    <ul>
                        <li class="me-3"><img src="assets/image/img2.jpg" alt=""></li>
                        <li>
                            <h5>Trip To White Castle</h5>
                            <span>Nunc cursus libero purus congue arcu vitae pulvinar</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4>Địa điểm hấp dẫn nhất</h4>
                <div class="loca mt-4">
                    <ul>
                        <li><a href=""><i class="fa-solid fa-location-dot me-3"></i><span>Bayonne, Melbourne</span></a>
                        </li>
                        <li><a href=""><i class="fa-solid fa-location-dot me-3"></i><span>Bayonne, Melbourne</span></a>
                        </li>
                        <li><a href=""><i class="fa-solid fa-location-dot me-3"></i><span>Bayonne, Melbourne</span></a>
                        </li>
                        <li><a href=""><i class="fa-solid fa-location-dot me-3"></i><span>Bayonne, Melbourne</span></a>
                        </li>
                        <li><a href=""><i class="fa-solid fa-location-dot me-3"></i><span>Bayonne, Melbourne</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3">
                <h4 class="mb-4">Thư mới</h4>
                <p>Đăng ký danh sách gửi thư của chúng tôi để nhận các bản cập nhật và ưu đãi mới nhất</p>
                <form class="d-flex">
                    <input class="form-control me-2" type="email" placeholder="Email của bạn" aria-label="Email">
                    <button class="btn btn-outline-light" type="submit"><i class="fa-solid fa-paper-plane"></i></button>
                </form>
            </div>
        </div>
    </div>
</footer>
<div class="end text-center">
    <p>Copyright &copy; 2017 Travlu. All rights reserved</p>
</div>