<app-header></app-header>
<main>
    <div class="about">
        <img src="assets/image/about5.jpg" alt="">
        <div class="text">
            <h1>Về chúng tôi</h1>
        </div>
    </div>
    <div class="container py-5">
        <div class="feature">
            <div class="row">
                <div class="col-lg-4">
                    <div class="des">
                        <h2><span class="me-3">01</span><a href="">Khách sạn hạng sang</a></h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, repellat veritatis nihil
                            officia illum, pariatur eaque provident, quis</p>
                    </div>
                    <div class="des">
                        <h2><span class="me-3">02</span><a href="">Khách sạn hạng sang</a></h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, repellat veritatis nihil
                            officia illum, pariatur eaque provident, quis</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="des">
                        <h2><span class="me-3">03</span><a href="">Hướng dẫn viên</a></h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, repellat veritatis nihil
                            officia illum, pariatur eaque provident, quis</p>
                    </div>
                    <div class="des">
                        <h2><span class="me-3">04</span><a href="">Hướng dẫn viên</a></h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, repellat veritatis nihil
                            officia illum, pariatur eaque provident, quis</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="des">
                        <h2><span class="me-3">05</span><a href="">Vé máy bay</a></h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, repellat veritatis nihil
                            officia illum, pariatur eaque provident, quis</p>
                    </div>
                    <div class="des">
                        <h2><span class="me-3">06</span><a href="">Vé máy bay</a></h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam, repellat veritatis nihil
                            officia illum, pariatur eaque provident, quis</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="intro py-5">
            <img src="assets/image/about4.jpg" alt="">
            <div class="txt">
                <h2>Giảm giá 10% cho chuyến du lịch tiếp theo của bạn</h2>
                <p>
                    Du lịch từ tháng 6 đến tháng 7 và nhận các ưu đãi hiện có cùng với chiết khấu tiền mặt chắc chắn 10%
                </p>
                <a href=""><span>Khám phá</span></a>
            </div>
        </div>
        <div class="blog1">
            <div class="row">
                <div class="col-lg-6">
                    <div class="image">
                        <img src="assets/image/about1.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="content">
                        <h2>Đôi nét về chúng tôi</h2>
                        <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries.</p>
                        <p>Electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                            the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog2">
            <div class="row">
                <div class="col-lg-6">
                    <div class="content">
                        <h2>Đôi nét về chúng tôi</h2>
                        <p>when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                            It has survived not only five centuries.</p>
                        <p>Electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with
                            the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                            desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="image">
                        <img src="assets/image/about2.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>