<app-header></app-header>
<main>
    <div class="title">
        <h1>Tour Phú Quốc 3N2Đ: HCM - Grand World - Câu Cá - Lặn Ngắm San Hô</h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <img src="assets/image/contact-banner.jpg" alt="" width="100%" class="py-3">
                <div class="tour">
                    <h2>Chương trình tour</h2>
                    <div class="description">
                        <div class="day1">
                            <h4>NGÀY 1: HỒ CHÍ MINH - PHÚ QUỐC – GRAND WORLD ( ĂN TRƯA, TỐI)</h4>
                            <p>06h30: Nhân viên công ty sẽ đón quý khách tại sân bay Tân Sơn Nhất, làm thủ tục khởi hành
                                đi Phú
                                Quốc trên chuyến bay VJ323 Lúc 08:45.

                                09h40: Đến Phú Quốc, xe và HDV đón đoàn đi tham quan Dinh Cậu, Dinh Bà, biểu tượng đặc
                                trưng về
                                vùng đất tâm linh của Phú Quốc.</p>
                            <img src="assets/image/contact-banner.jpg" alt="" width="100%" class="py-3">
                            <p>10h40: Đoàn di chuyển đến nhà hàng dùng cơm trưa, sau đó nhận phòng khách sạn, nghỉ ngơi.

                                15h30: Xe và HDV đưa đoàn đi tham quan Châu Âu thu nhỏ. ( GRAND WORLD )

                                - Tự do check-in khám phá Grand World Phú Quốc – thiên đường mua sắm, ẩm thực, vui chơi
                                giải trí “không ngủ” tập hợp nhiều nét tinh hoa kiến trúc thế giới, nhiều show diễn thú
                                vị.</p>
                            <img src="assets/image/contact-banner.jpg" alt="" width="100%" class="py-3">
                            <p>- Khám phá Công viên Urban Park: Quy tụ nhiều tác phẩm nghệ thuật độc đáo, mang đậm nét
                                lãng mạn, cổ điễn, đậm chất Ý.

                                - Du ngoạn dòng sông Venice (Ý) ( chi phí tự túc )

                                - Khu phố đèn lồng Shanghai : Tọa lạc ngay cổng vào dự án, lấy cảm hứng thiết kế từ
                                những con phố sầm uất của Thượng Hải, khu phố như một China Town thu nhỏ trên đảo Ngọc
                                trù phú.

                                - Khu mái vòm ánh sáng đổi màu độc đáo phong cách Clarke Quay

                                - Khu phố đi bộ với chợ đêm dân gian lấy ý tưởng từ khu Asiatique tại Thái Lan, khu phố
                                đi bộ Mallorca phục vụ cho những nhu cầu vui chơi, giải trí…

                                Hoặc quý khách có thể chọn các chương trình sau: KHÁM PHÁ VINPEARL LAND - "Disneyland "
                                và Safari (chi phí tự túc)

                                - Xe shettle bus của Vinpearl sẽ đón quý khách tại điểm đón, xe đưa quý khách Vườn Thú
                                Mở - Vinpearl Safari Phú Quốc theo mô hình Safari Singapore Công viên Chăm sóc và Bảo
                                tồn Động vật Vinpearl Safari Phú Quốc có tổng diện tích gần 500ha, được xây dựng theo mô
                                hình bán hoang dã, trong đó, các động vật quý hiếm được đảm bảo chăm sóc và bảo tồn
                                trong môi trường thiên nhiên mở. </p>
                            <img src="assets/image/contact-banner.jpg" alt="" width="100%" class="py-3">
                            <p>- Xe shettle bus của Vinpearl sẽ đón quý khách tại điểm đón, xe đưa quý khám phá Vinpearl
                                Land nơi được ví như một "Disneyland" với nhiều trò chơi trong nhà và ngoài trời dành
                                cho mọi lứa tuổi như: Tàu lượng siêu tốc, Đu quay vòng xoay, Đĩa quay siêu tốc, Đu quay
                                văng……. Biểu diễn cá heo, Công viên nước, Thủy cung (nhiều loài sinh vật biển và bò sát
                                quý hiếm), Hoạt náo, lễ hội đường phố, Rạp chiếu phim 5D,...</p>
                            <img src="assets/image/contact-banner.jpg" alt="" width="100%" class="py-3">
                            <p>Tối: Quý khách tự do dùng bữa tối.

                                21h00: Xe đưa đoàn về lại trung tâm thị trấn Dương Đông.

                                Nghỉ đêm tại Phú Quốc.</p>
                        </div>
                        <div class="day2">
                            <h4>NGÀY 02: KHÁM PHÁ NAM ĐẢO (ĂN SÁNG, TRƯA, CHIỀU)</h4>
                            <p>Sáng: Quý khách dậy sớm ngắm cảnh bình minh trên Đảo Ngọc, đoàn dùng điểm tâm sáng tại
                                khách sạn. Đoàn tiếp tục khởi hành đi khám phá Nam Đảo:

                                - Đoàn tham quan cơ sở nuôi cấy ngọc trai cao cấp Phú Quốc Long Beach: Tại đây Quý khách
                                sẽ được tận mắt xem toàn bộ qui trình khép kín tạo nên viên ngọc trai, đặc biệt quý
                                khách sẽ được tận mắt lựa chọn những bộ sản phấm mặt dây chuyền, nhẩn, bông tai…được kết
                                hợp với vàng 24k, vàng trắng và bạc cao cấp,ngoài ra còn tại khu trưng bày quý khách có
                                thể lựa chọn nhiều chuỗi ngọc trai như ý muốn về làm quà cho người thân, gia đình, bạn
                                bè.</p>
                            <img src="assets/image/contact-banner.jpg" alt="" width="100%" class="py-3">
                            <p>- Tiếp tục hành trình, Quý khách sẽ được lên tàu câu cá và lặn ngắm san hô cùng với đội
                                ngũ thủy thủ đoàn giàu kinh nghiệm cùng đến với Hòn Dừa, Hòn Rỏi. Tại đây,Quý khách sẽ
                                được cung cấp kính lặn, áo phao để lặng ngắm san hô, đặc biệt Quý khách sẽ được thưởng
                                thức những món cá tươi ngon cộng với nhiều món ăn hải sản được chế biến bởi những đầu
                                bếp trên tàu. </p>
                            <img src="assets/image/contact-banner.jpg" alt="" width="100%" class="py-3">
                            <p>Trưa: Đoàn dùng cơm trưa trên tàu.

                                Chiều: Đoàn quay về đất liền, xe và HDV đưa đoàn:

                                - Tắm biển tại Bãi Sao: Đây được bình chọn là một trong những bãi biễn đẹp nhất Việt
                                Nam, tại đây Quý khách không những được tắm biển mà còn tham gia những trò chơi thật lý
                                thú và cảm giác mạnh trên biển: jetky, ca nô dù kéo, môtô nước…(chi phí tự túc). </p>
                            <img src="assets/image/contact-banner.jpg" alt="" width="100%" class="py-3">
                            <p>- Đoàn di chuyển về tham quan Nhà tù Phú Quốc: khu di tích lịch sử - nơi chứng kiến bao
                                tội ác của thực dân Pháp và đế quốc Mỹ khi giam cầm hơn 32 ngàn tù binh chiến tranh (có
                                lúc lên đến con số 40 ngàn tù binh) trong khoảng thời gian tồn tại chưa đầy 6 năm. </p>
                            <img src="assets/image/contact-banner.jpg" alt="" width="100%" class="py-3">
                            <p>Tối: Đoàn dùng bữa tối tại nhà hàng. Quý khách tự do dạo biển về đêm.
                                Nghỉ đêm tại Phú Quốc.</p>
                        </div>
                        <div class="day3">
                            <h4>NGÀY 3: PHÚ QUỐC – ĐÔNG ĐẢO - HỒ CHÍ MINH (ĂN SÁNG, TRƯA)</h4>
                            <p>Sáng: Quý khách dùng điểm tâm sáng, tự do tắm biển, nghỉ ngơi. Làm thủ tục trả phòng.

                                09h00: Đoàn khởi hành đi tham quan:

                                - Vườn Tiêu Phú Quốc - tìm hiểu phương pháp trồng tiêu, mua đặc sản tại vườn, đặc biệt
                                quý khách sẽ được thưởng thức trái cây theo mùa. </p>
                            <img src="assets/image/contact-banner.jpg" alt="" width="100%" class="py-3">
                            <p>- Nhà thùng lâu đời nước mắm cá cơm truyền thống. - Cơ sở sản xuất rượu vang sim (loại
                                vang riêng của đảo).

                                11h30: Xe đưa đoàn di chuyển đến nhà hàng dùng cơm trưa.

                                13h00: Xe và HDV đưa quý khách ra sân bay Phú Quốc làm thủ tục bay về Hồ Chí Minh, trên
                                chuyến bay VJ336 Lúc 15:10.

                                Kết thúc chương trình và hẹn gặp lại quý khách trong những hành trình tiếp theo!</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <h2>Lịch khởi hành & giá</h2>
                <div class="form-group">
                  <input type="text" name="" id="" class="form-control" placeholder="" aria-describedby="helpId">
                </div>
                <div>
                    <span>Người lớn</span>
                    
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>