<app-header></app-header>
<main>
    <div class="banner">
        <img src="assets/image/slider.jpg" alt="">
    </div>
    <div class="container">
        <div class="title mt-5">
            <h2 class="text-center">the best offeres with rooms</h2>
        </div>
        <div class="row py-5">
            <div class="col-lg-6">
                <div class="items">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="items-img">
                                <img src="assets/image/offer_1.jpg" alt="">
                                <div class="items-name">
                                    <a href="">grand castle</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content">
                                <div class="price">
                                    <p>$70</p>
                                </div>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam laborum
                                        facere odit officiis perspiciatis assumenda accusamu</p>
                                </div>
                                <div class="icons">
                                    <ul>
                                        <li><a href=""><i class="fa-solid fa-signs-post post"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-compass com"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-bicycle bicy"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-ship ship"></i></a></li>
                                    </ul>
                                </div>
                                <div class="links">
                                    <a href="">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="items">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="items-img">
                                <img src="assets/image/offer_1.jpg" alt="">
                                <div class="items-name">
                                    <a href="">grand castle</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content">
                                <div class="price">
                                    <p>$70</p>
                                </div>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam laborum
                                        facere odit officiis perspiciatis assumenda accusamu</p>
                                </div>
                                <div class="icons">
                                    <ul>
                                        <li><a href=""><i class="fa-solid fa-signs-post post"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-compass com"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-bicycle bicy"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-ship ship"></i></a></li>
                                    </ul>
                                </div>
                                <div class="links">
                                    <a href="">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row mb-5">
            <div class="col-lg-6">
                <div class="items">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="items-img">
                                <img src="assets/image/offer_1.jpg" alt="">
                                <div class="items-name">
                                    <a href="">grand castle</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content">
                                <div class="price">
                                    <p>$70</p>
                                </div>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam laborum
                                        facere odit officiis perspiciatis assumenda accusamu</p>
                                </div>
                                <div class="icons">
                                    <ul>
                                        <li><a href=""><i class="fa-solid fa-signs-post post"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-compass com"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-bicycle bicy"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-ship ship"></i></a></li>
                                    </ul>
                                </div>
                                <div class="links">
                                    <a href="">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="items">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="items-img">
                                <img src="assets/image/offer_1.jpg" alt="">
                                <div class="items-name">
                                    <a href="">grand castle</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="content">
                                <div class="price">
                                    <p>$70</p>
                                </div>
                                <div class="text">
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas aliquam laborum
                                        facere odit officiis perspiciatis assumenda accusamu</p>
                                </div>
                                <div class="icons">
                                    <ul>
                                        <li><a href=""><i class="fa-solid fa-signs-post post"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-compass com"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-bicycle bicy"></i></a></li>
                                        <li><a href=""><i class="fa-solid fa-ship ship"></i></a></li>
                                    </ul>
                                </div>
                                <div class="links">
                                    <a href="">read more</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<app-footer></app-footer>